{{#each tab}}
    <form style="display: inline-block" method="POST" action="/observation">
        <input class="btn btn-primary" name="tables" type="Submit" value="{{this.Tables_in_weather}}">
    </form>
{{/each}}
<h3>{{name}} table</h3>
<table align=center>
    <tr>
        {{#each fields}}
            <th>{{this.name}}</th>
        {{/each}}
    </tr>
    {{#each rows}}
        <tr>
            <td>{{this.id}}</td>
            <td>{{this.oid}}</td>
            <td>{{this.wid}}</td>
            <td>{{this.risetime}}</td>
            <td>{{this.settime}}</td>
            <td>{{this.recordtime}}</td>
            <td>{{this.humidity}}</td>
            <td>{{this.preasure}}</td>
        </tr>
    {{/each}}


</table>
