{{#each tab}}
    <form style="display: inline-block" method="POST" action="/schema">
        <input class="btn btn-primary" name="tables" type="Submit" value="{{this.Tables_in_weather}}">
    </form>
{{/each}}
<h3>{{name}} table</h3>
<table align=center>
<tr>
    <th>Field</th>
    <th>Type</th>
    <th>Null</th>
    <th>Key</th>
    <th>Default</th>
</tr>
{{#each val}}
    <tr>
        <td>{{this.Field}}</td>
        <td>{{this.Type}}</td>
        <td>{{this.Null}}</td>
        <td>{{this.Key}}</td>
        <td>{{this.Default}}</td>
    </tr>
{{/each}}
</table>
